 /*#USAR ESTE CABEÇALHO EM TODOS ARQUIVOS CSS E HTML
Descricao: Exercícios da Aula 02 - Introdução básica ao HTML e CSS
nome_arquivo: index.html
nome_exercicio: Atividade 02 - Introdução básica ao HTML e CSS
nome_aluno: Icaro Henrique Meniti Caron
email_aluno: menitiicaro@gmail.com
turma:  WEBI-ISWO28-A
*/
 
body {
    background-color: #f5f1e8; /*Muda a cor do fundo*/
}

header { 
    text-align: center; /*Centraliza o canteudo do cabeçalho*/
    margin-bottom: 20px; /*Cria um pequeno espaço abaixo do cabeçalho*/
}

h1 {
    font-size: 28px; /*Tamanho do título*/
    margin: 20px; /*Espaço ao redor do título*/
    color: #d99a00; /*Cor do titulo*/
}

h2 {
    font-weight: normal; /*Deixe a letra sem negrito*/
    color: #6b6258; /*Cor*/
    font-size: 24px; /*Tamanho do subtítulo*/
}

.logo { 
    width: 360px; /*Tamanho da logo*/
    background-color: transparent; /*Remove o fundo branco*/
}

.logoFT {
    width: 360px; /*Tamanho da logo*/
    background-color: transparent; /*Remove o fundo branco*/
}

nav { /*Estilo o menu*/
    text-align: center;  /*Centraliza o canteudo do cabeçalho*/
    padding: 20px;
    border-bottom: 1px solid #d99a00; /*Cria uma linha abaixo do menu*/
}

.NThome {
    text-align: center; /*Centraliza o canteudo do cabeçalho*/
    padding: 20px;
    border-bottom: 1px solid #d99a00; /*Cria uma linha abaixo do menu*/
}

nav a { /*Estilo dos links*/
    text-decoration: none; /*Remove o sublinhado dos links*/
    margin: 0 10px; /*Cria espaço entre os links*/
    font-size: 19px; /*Aumenta o tamanho dos links*/
    color: #b8751a; /*Coloca uma cor marrom suave*/
}

nav a:hover {
    text-decoration: underline; /*Coloca um sublinhado ao passar o mouse*/ 
}

.apresentacao {
    font-size: 16px; /*Tamanho da largura do parágrafo*/
    text-align: center; /*Coloca o texto no centro*/
    margin: 20px auto; /*Centraliza o bloco do parágrafo*/
    line-height: 1.6; /*Aumenta o espaço entre as linhas*/
    max-width: 700px; /*Limita a largura do parágrafo*/
    background-color: white; /*Fundo branco da caixinha*/
    padding: 20px; /*Espaço entre o texto e a borda*/
    border: 1px solid #d99a00; /*Cria uma borda dourada*/
    border-radius: 10px; /*Arredonda a borda*/

    display: flex; /*coloca tudo ao lado*/
    align-items: center; /*alinha os dois*/
}

footer { /*Estilo do rodapé*/
    text-align: center; /*Centralizar o texto*/
    padding: 10px; /*Cria espaço dentro do rodapé*/
    margin-top: 360px; /*Cria espaço acima do rodapé*/
    font-size: 15px; /*Aumenta o tamanho*/
    color: #6b5b3e; /*Coloca uma cor marrom suave*/
}

.foto-esquerda {
    width: 717px; /*Define a largura da foto*/
    height: auto; /*Mantém a proporção original da foto*/
    position: absolute;
    left: -145px; /*Coloque a foto no lado esquerdo*/
    top: 70px; /*Defina a distância do topo*/
    mask-image: linear-gradient(to right, black 0%,black 60%,transparent 100%);  /*Faz as laterais da foto desaparecerem suavemente*/
    filter:  grayscale(100%) sepia(55%) brightness(1.15); /*Deixe a foto sem cor*/
    opacity: 0.85; /*Deixe a foto mais suave*/
}

.NoticiaFT{
    width: 717px; /*Define a largura da foto*/
    height: auto;  /*Mantém a proporção original da foto*/
    position: absolute;
    left: -145px; /*Coloque a foto no lado esquerdo*/
    top: 70px; /*Defina a distância do topo*/
    mask-image: linear-gradient(to right, black 0%,black 60%,transparent 100%);  /*Faz as laterais da foto desaparecerem suavemente*/
    filter:  grayscale(100%) sepia(55%) brightness(1.15); /*Deixe a foto sem cor*/
    opacity: 0.85; /*Deixe a foto mais suave*/
}

.foto-direita {
    width: 590px;  /*Define a largura da foto*/
    height: auto;  /*Mantém a proporção original da foto*/
    position: absolute;
    right: -3px; /*Coloque a foto no lado esquerdo*/
    top: 70px; /*Defina a distância do topo*/
    mask-image: linear-gradient(to left, black 0%,black 45%,transparent 100%);  /*Faz as laterais da foto desaparecerem suavemente*/
    filter: grayscale(100%) sepia(55%) brightness(1.15); /*Deixe a foto sem cor*/
    opacity: 0.85; /*Deixe a foto mais suave*/
}

.NoticiaF {
    width: 590px;   /*Define a largura da foto*/
    height: auto; /*Mantém a proporção original da foto*/
    position: absolute;
    right: -3px; /*Coloque a foto no lado esquerdo*/
    top: 70px; /*Defina a distância do topo*/
    mask-image: linear-gradient(to left, black 0%,black 45%,transparent 100%);  /*Faz as laterais da foto desaparecerem suavemente*/
    filter: grayscale(100%) sepia(55%) brightness(1.15); /*Deixe a foto sem cor*/
    opacity: 0.85;  /*Deixe a foto mais suave*/
}

.divisor {
   font-size: 18px; /*Tamanho*/
}

.frase {
    font: 18px; /*Define o tamanho da frase*/
    color: #6b6258; /*Muda a cor da frase*/
    text-align: center; /*Centraliza a frase*/
    font-style: italic; /*Deixe a frase em italico*/
    margin-top: 20px; /*Cria um espaço acima da frase*/
}

.anzol {
    font-size: 45px; /*Aumenta o tamanho da letra*/
    color: #8b5a16; /*Muda a cor da frase*/
    margin-right: 25px;
    padding-right: 20px;
    border-right: 1px solid #d9c2a0; 
}

.texto-apresentacao {
    font-family: Georgia, serif;
    font-size: 16px; /*Aumenta o tamanho da letra*/
    line-height: 1.5;
}

.contato-item {
    width: 400px; /*Defina a largura da caixinha*/
    margin: 15px auto; /*Centraliza a caixinha e cria espaço entre elas*/
    padding: 20px; /*Cria espaço dentro da caixinha*/
    border: 1px solid #d99a00; /*Cria a borda dourada*/
    border-radius: 10px; /*Arredonda os cantos*/
    display: flex; /*Coloca os elemntos lado a lado*/
    align-items: center; /*Alinha os elementos no meio*/
}

.contato-item .icone {
    font-size: 35px; /*Aumenta o tamanho do icone*/
    margin-right: 20px; /*Cria espaço entre icone e o texto*/
    padding-right: 20px; /*Cria espaço antes da linha*/
    border-right: 1px solid #d9c2a0; /* Cria a linha vertical*/
}

.divisor-contato span {
    font-size: 30px; /*Aumenta o tamanho da âncora*/
    color: #8b5a16; /*Deixa a âncora dourada*/
}

.contato-item > div {
    flex: 1;
}

.divisor-contato {
    display: flex; /* Coloca os elementos lado a lado */
    align-items: center; /* Alinha tudo no meio */
    justify-content: center; /* Centraliza o conjunto na página */
    margin-top: 25px; /* Cria espaço acima da âncora */
}

.divisor-contato::before,
.divisor-contato::after {
    content: ""; /* Cria as duas linhas */
    width: 120px; /* Define o tamanho das linhas */
    border-top: 1px solid #d9c2a0; /* Define a cor e espessura da linha */
}

.divisor-contato span {
    font-size: 30px; /* Tamanho da âncora */
    color: #8b5a16; /* Cor dourada da âncora */
    margin: 0 20px; /* Cria espaço entre a âncora e as linhas */
}

.frase-contato{
    text-align: center; /*Centraliza o canteudo do cabeçalho*/
    color: #6b6258;
    font-size: 18px; /*Aumenta o tamanho da letra*/
    font-style:  italic;
    margin-top: 20px;
}

.desenvolvido {
    text-align: center; /*Centraliza o canteudo do cabeçalho*/
    padding: 10px;
    margin-top: 170px;
    font-size: 15px; /*Aumenta o tamanho da letra*/
    color: #6b5b3e;
}

/*Grande noticia*/
.grande-noticia {
   display: grid; /*Cria a grade das notícias*/
   grid-template-columns: 1fr 1fr; /* cria 2 coluna*/
   grid-template-rows: repeat(3,auto); /* cria 3 linha*/
   grid-auto-flow: column; /*preenche a primeira coluna  de cima para baixo*/
   gap: 60px 40px; /* espaço entre as notícias*/
}

/*Pirarara imagem 01*/

.img01 {
    width: 302px; /*Define a largura da foto*/
    display: block; /*Permite te controlar a imagem*/
    margin-right: 0;
    margin-left: 0; /*Mantem a imagem encostada a direita*/
    font-weight: bold;}

.noticia-item {
    display: flex; /*Coloca a imagem e o titulo lado a lado*/
    align-items: flex-start; /*Alinh o título pelo topo*/
    gap: 20px; /*Cria espaço entre foto e o titulo*/
}

.noticia-item h2{
    margin-top: 20px;
    color: #d99a00;
    font-size: 35px; /*Aumenta o tamanho da letra*/
    font-family: Georgia, serif;
}

.descricao-01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    font-size: 25px; /*Aumenta o tamanho da letra*/
    line-height: 1.3; /*Deixa as linhas mais espaçadas*/
}

.info-pesca {
    display: flex; /*Organiza o conteudo*/
    flex-direction: column; /*coloca um embaixo do outro*/
     width: 500px; /*Define a largura da foto*/
}

/*Final pirarara imagem*/

.tamba01{
    margin-top: 20px;
    color: #d99a00;
    font-size: 35px; /*Aumenta o tamanho da letra*/
    font-family: Georgia, serif;
}

/*Tamba imagem 02*/

.img02 {
    width: 300px; /*Define a largura da foto*/
    display: block; /*Permite te controlar a imagem*/
    margin-left: 0;
    margin-right: 0; /*Mantem a imagem encostada a direita*/
    font-weight: bold;
}

.descricao-02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    font-size: 25px; /*Aumenta o tamanho da letra*/
    line-height: 1.3; /*Deixa as linhas mais espaçadas*/
}

.info-pesca02{
    display: flex; /*Organiza o conteudo*/
    flex-direction: column; /*coloca um embaixo do outro*/
     width: 500px;
}

.noticia-item02 {
    display: flex; /*coloca a foto e o texto lado a lado*/
    align-items: flex-start; /* alinha os dois pelo topo*/
    gap: 40px; /* cria espaço entre a foto e o texto*/
}

/*Final tamba imagem 02*/

/*Tamba imagem 03*/

.tamba03{
    margin-top: 20px;
    color: #d99a00;
    font-size: 35px;  /*Aumenta o tamanho da letra*/
    font-family: Georgia, serif;
}

.img03 {
    width: 300px; /*Define a largura da foto*/
    display: block; /*Permite te controlar a imagem*/
    margin-left: 0;
    margin-right: 0; /*Mantem a imagem encostada a direita*/
    font-weight: bold;
}

.descricao-03 {
    display: flex; /*coloca a foto e o texto lado a lado*/
    flex-direction: column; /*coloca um embaixo do outro*/
    align-items: flex-start;
    max-width: 400px;
    font-size: 25px; /*Aumenta o tamanho da letra*/
    line-height: 1.3; /*Deixa as linhas mais espaçadas*/
}

.info-pesca03 {
    display: flex; /*Organiza o conteudo*/
    flex-direction: column; /*coloca um embaixo do outro*/
     width: 500px; /*Define a largura da foto*/
}

.noticia-item03 {
    display: flex; /*coloca a foto e o texto lado a lado*/
    align-items: flex-start; /* alinha os dois pelo topo*/
    gap: 40px; /* cria espaço entre a foto e o texto*/
}

/*Final tamba imagem 03*/

/*Tamba imagem 04*/

.tamba04{
    margin-top: 20px;
    color: #d99a00;
    font-size: 35px;  /*Aumenta o tamanho da letra*/
    font-family: Georgia, serif;
}

.img04 {
    width: 300px; /*Define a largura da foto*/
    display: block; /*Permite te controlar a imagem*/
    margin-left: 0;
    margin-right: 0; /*Mantem a imagem encostada a direita*/
    font-weight: bold;
}

.descricao-04 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    font-size: 25px; /*Aumenta o tamanho da letra*/
    line-height: 1.3; /*Deixa as linhas mais espaçadas*/
}

.info-pesca04 {
    display: flex;/*coloca a foto e o texto lado a lado*/
    flex-direction: column; /*coloca um embaixo do outro*/
     width: 500px; /*Define a largura da foto*/
}

.noticia-item04 {
    display: flex; /*coloca a foto e o texto lado a lado*/
    flex-direction:  row-reverse; /* coloca a foto no lado direito*/
    align-items: flex-start; /* alinha os dois pelo topo*/
    gap: 40px; /* cria espaço entre a foto e o texto*/
}
/*Final tamba 04*/

/*Tamba imagem 05*/

.tamba05{
   margin-top: 20px;
    color: #d99a00;
    font-size: 35px;  /*Aumenta o tamanho da letra*/
    font-family: Georgia, serif;
}

.img05 {
    width: 300px; /*Define a largura da foto*/
    display: block; /*Permite te controlar a imagem*/
    margin-left: 0;
    margin-right: 0; /*Mantem a imagem encostada a direita*/
    font-weight: bold;
}

.descricao-05 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    font-size: 25px; /*Aumenta o tamanho da letra*/
    line-height: 1.3; /*Deixa as linhas mais espaçadas*/
}

.info-pesca05 {
    display: flex;/*coloca a foto e o texto lado a lado*/
    flex-direction: column; /*coloca um embaixo do outro*/
     width: 500px; /*Define a largura da foto*/
}

.noticia-item05 {
    display: flex; /*coloca a foto e o texto lado a lado*/
    flex-direction:  row-reverse; /* coloca a foto no lado direito*/
    align-items: flex-start; /* alinha os dois pelo topo*/
    gap: 40px; /* cria espaço entre a foto e o texto*/
}
/*Final tamba 05*/

.tamba06{
    margin-top: 20px;
    color: #d99a00;
    font-size: 35px;  /*Aumenta o tamanho da letra*/
    font-family: Georgia, serif;
}

.img06 {
    width: 300px; /*Define a largura da foto*/
    display: block; /*Permite te controlar a imagem*/
    margin-left: 0;
    margin-right: 0; /*Mantem a imagem encostada a direita*/
    font-weight: bold;
}

.descricao-06 {
    display: flex; /*coloca a foto e o texto lado a lado*/
    flex-direction: column;/*coloca um embaixo do outro*/
    align-items: flex-start;
    max-width: 400px;
    font-size: 25px; /*Aumenta o tamanho da letra*/
    line-height: 1.3; /*Deixa as linhas mais espaçadas*/
}

.info-pesca06 {
    display: flex;/*coloca a foto e o texto lado a lado*/
    flex-direction: column; /*coloca um embaixo do outro*/
     width: 500px; /*Define a largura da foto*/
}

.noticia-item06 {
    display: flex; /*coloca a foto e o texto lado a lado*/
    flex-direction:  row-reverse; /* coloca a foto no lado direito*/
    align-items: flex-start; /* alinha os dois pelo topo*/
    gap: 40px; /* cria espaço entre a foto e o texto*/
}
/*Final tamba 05*/

.desenvolvido01 {
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    font-size: 15px;
    color: #6b5b3e;
}